
body{
    padding: 1%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
.flex-container{
    display: flex;
    padding: 2%;
    padding-bottom: 5%;
}
.first-half{
    width: 75%;
    padding-bottom: 10%;
}
img{
    width: 70%;
 padding-left: 2%;
}
.background{
    background-image: url(frame.jpg);
    background-repeat: repeat;
}
.soup{
    text-align: center;
}
.footer{
    display: flex;
    margin: 5%;
   padding: 5%;
   text-align: center;
}
.my-receipe{
    display: flex;

}