
*{
    box-sizing: border-box;
}


body{
    background-repeat: repeat;
    background-color:#FFFACD;
    margin: 0;
    padding: 0;
}
.topnav{
    background-color:mediumseagreen;
    overflow: hidden;

}
.topnav a{
    float: left;
    color:black;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topnav a:hover{
    background-color:#FFFACD;
    color: black;
}
.topnav a.active{

    background-color: #04AA6d;
    color: white;

}
.header{
    margin: 0;
    font-family:'Courier New', Courier, monospace ;
    text-align: center;
}
.para{

    font-family:'Courier New', Courier, monospace;
    text-emphasis:initial ;
    text-align:left;
    margin-right: 10%;
    padding-left: 1%;
    font-display:var(center);
    font-size: bold;
    float: left;
    
}
img{
    margin: 0;
    padding:3%;

}
.main{
    display: grid;
    grid-template-columns: 5fr 7fr 1fr;
    background-image: url(food-bg.jpg);
    background-repeat: repeat;

}
